<launch>

    <arg name = "mode" default="yaml"/>

    <group if="$(eval arg('mode') == 'yaml')">
        <rosparam file="$(find arm_move)/config/waypoints.yaml"/>
    </group>


    <remap from="/attached_collision_object" to="/px100/attached_collision_object"/>
    <remap from="/collision_object" to="/px100/collision_object"/>
    <node name="mover" pkg="arm_move" type="mover" ns="px100" />

</launch>