<launch>

    <!-- <node name="gazebo" pkg="gazebo_ros" type="gazebo" args="-d $(find homework3)/worlds/ddrive.world"/> -->

    <param name = "robot_description" command="$(find xacro)/xacro '$(find diff_drive)/urdf/ddrive.urdf.xacro'"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node type="rviz" name="rviz" pkg="rviz" args=" -d $(find diff_drive)/config/ddrive.rviz"/>
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>

</launch>