<launch>

    <param name = "robot_description" command="$(find xacro)/xacro '$(find diff_drive)/urdf/ddrive.gazebo.xacro'"/>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -x 0 -y 0 -z 5 -model ddrive" />
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name = "world_name" value = "$(find diff_drive)/worlds/ddrive.world" />
        <arg name = "paused" value = "true"/>
    </include>

    <node name="flip" pkg="diff_drive" type="flip"/>


</launch>