<robot xmlns:xacro="http://wiki.ros.org/wiki/xacro" name="ddrive">

    <xacro:property name="ddrive" value="$(find diff_drive)/config/ddrive.yaml"/>
    <xacro:property name="drive" value="${load_yaml(ddrive)}"/>
    <xacro:property name="wheelW" value="${drive['wheelWidth']}"/>
    <xacro:property name="wheelR" value="${drive['wheelRadius']}"/>
    <xacro:property name="tW" value="${drive['topWheelWidth']}"/>
    <xacro:property name="tR" value="${drive['topWheelRadius']}"/>
    <xacro:property name="L" value="${drive['L']}"/>
    <xacro:property name="W" value="${drive['W']}"/>
    <xacro:property name="H" value="${drive['H']}"/>
    <xacro:property name='pi' value="3.14159"/>

    <xacro:include filename="$(find diff_drive)/urdf/ddrive.urdf.xacro"/>


    <gazebo reference="body">
        <material>Gazebo/Bricks</material>
    </gazebo>

    <gazebo reference="leftWheel">
        <material>Gazebo/Orange</material>
    </gazebo>

    <gazebo reference="rightWheel">
        <material>Gazebo/Purple</material>
    </gazebo>

    <gazebo reference="topWheel">
        <material>Gazebo/LightOn</material>
    </gazebo>

    <gazebo reference="botWheel">
        <material>Gazebo/CameraLensFlare</material>
    </gazebo>

    <gazebo>
        <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
            <rosDebugLevel>na</rosDebugLevel>
            <alwaysOn>true</alwaysOn>
            <updateRate>100</updateRate>
            <leftJoint>jointL</leftJoint>
            <rightJoint>jointR</rightJoint>
            <wheelSeparation>${W+wheelW}</wheelSeparation>
            <wheelDiameter>${wheelR}</wheelDiameter>
            <wheelTorque>20</wheelTorque>
            <commandTopic>diff/cmd_vel</commandTopic>
            <odometryTopic>diff/odom</odometryTopic>
            <odometryFrame>odom</odometryFrame>
            <robotBaseFrame>base_link</robotBaseFrame>
            <publishWheelTF>false</publishWheelTF>
            <publishOdomTF>true</publishOdomTF>
            <publishWheelJointState>true</publishWheelJointState>
            <wheelAcceleration>false</wheelAcceleration>
            <odometrySource>world</odometrySource>
            <publishTf>1</publishTf>
        </plugin>
    </gazebo>

    <gazebo reference="topWheel">
        <mu1>1</mu1>
        <mu2>1</mu2>
        <kp>500000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>1 0 0</fdir1>
    </gazebo>

    <gazebo reference="botWheel">
        <mu1>1</mu1>
        <mu2>1</mu2>
        <kp>500000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>1 0 0</fdir1>
    </gazebo>


</robot>